{% extends "esqueleto.html" %}

{% block titulo %} {{titulo}} {% endblock %}

{% block contenido %}


{% for i in resultados %}
<div class="col-md-4">
  <div class="row">
    <h3 style="text-align:center;">{{i.titulo_video}}</h3>
  </div>
  <div class="row"  style="text-align:center;">
    <video width="300" src="{{MEDIA_URL}}{{i.archivo_video}}" controls>

    </video>
  </div>
  <div class="row" style="height:50px;margin-left:35px;">
    <p style="font-size:14px;width:85%;">{{i.descripcion_video}}</p>
  </div>
  <div class="row" style="text-align:center;font-size:30px;">
    <a href="/ver/{{i.id}}">VER</a>
  </div>
</div>
{% endfor %}




{% endblock %}
